<h2 style="text-align: center; margin-top: 3rem;">{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-8" style="text-align: center; margin: auto; margin-top: 3rem;">

      <!-- adding the fields of form group -->
      <form [formGroup]="register" (ngSubmit)="GetData()">
        
          <!-- we defined the form group here, so taking the value from here -->
        <input type="text" class="form-control" placeholder="name" formControlName="name">
        
        <!-- checking whether it  has data or not and if data availble it validating where it is valid or not, and error occurs it display-->
        <span *ngIf="register.controls.name.invalid  && register.controls.name.touched" style="color: red;">Enter Valid Name</span>
        <br>
        <br>
        <input type="number" class="form-control" placeholder="phonenumber" formControlName="phonenumber">
        <span *ngIf="register?.controls?.phonenumber?.invalid  && register.controls.phonenumber.touched" style="color: red;">Enter Valid Number</span>
        <br>
        <br>
        <input type="text" class="form-control" placeholder="email" formControlName="email">
        <span *ngIf="register?.controls?.email?.invalid  && register.controls.email.touched" style="color: red;">Enter Valid Email</span>
        <br>
        <br>
        <input type="date" class="form-control" placeholder="dob" formControlName="dob">
        <span *ngIf="register?.controls?.dob?.invalid  && register.controls.dob.touched" style="color: red;">Need Minimun of 18 years Old</span>
        <br>
        <br>
        <button [disabled]="register.invalid" type="submit" class="btn btn-primary">Submit</button>
        <!-- {{register.valid}} -->
      </form>
    </div>
  </div>
  </div>

